@model HelperMethods.Models.User

@{
    ViewBag.Title = "CreateUserLayoutHelper";
    Html.EnableClientValidation(false);
}

<h2>Создать пользователя</h2>

@using (Html.BeginForm())
{
    <div class="item">
        @Html.EditorFor(m => m.UserId)
    </div>
    <div class="item">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
    </div>
    <div class="item">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
    </div>
    <div class="item">
        @Html.LabelFor(m => m.Role)
        @Html.EditorFor(m => m.Role)
    </div>
    <div class="item">
        @Html.LabelFor(m => m.BirthDate)
        @Html.EditorFor(m => m.BirthDate)
    </div>
    <input type="submit" value="отправить" />

}





